.cabecalho  {
    display: flex;
    background-color: var(--cor-secundaria);
    justify-content: space-between;
    align-items: center;
}

.cabecalho__texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cabecalho__texto-titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 2.5rem;
    padding-bottom: 0.25em;
}

.cabecalho__texto-paragrafo {
    font-size: 0.9rem;
    color: var(--cinza-claro);
}

.cabecalho__usuario {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container__sair {
    display: flex;
    align-items: center;
}

.cabecalho__sair-paragrafo {
    color: var(--cinza-claro);
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {
    .cabecalho__imagem {
        display: none;
    }
    .cabecalho__texto-titulo {
        display: none;
    }

    .cabecalho__texto-paragrafo {
        display: none;
    }

    .container__sair {
        width: 100vh;
        justify-content: space-between;
    }

    .cabecalho__usuario {
        padding: 0 3em;
    }

    .cabecalho__sair {
        padding: 0 1em;
    }

    
}
